/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;}

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #577d06; color: #fff; text-shadow: none;}
::selection {background: #577d06; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/* page styles */
@font-face {
    font-family: 'josefinSansLight';
    src: url('fonts/josefinsans-light-webfont.eot');
    src: url('fonts/josefinsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/josefinsans-light-webfont.woff') format('woff'),
         url('fonts/josefinsans-light-webfont.ttf') format('truetype'),
         url('fonts/josefinsans-light-webfont.svg#josefin_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ciclesemi';
    src: url('fonts/Cicle_Semi-webfont.eot');
    src: url('fonts/Cicle_Semi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cicle_Semi-webfont.woff') format('woff'),
         url('fonts/Cicle_Semi-webfont.ttf') format('truetype'),
         url('fonts/Cicle_Semi-webfont.svg#ciclesemi') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
	color: #496B00;
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
}

a:hover {
	color: #577D06;
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
}

body {
	font-family: ciclesemi;
}

h3 {
	font-size: 1.5em;
}

p {
	margin: 40px 0 40px 0;
}

label {
	font-size: 0.9em;
	vertical-align: -4px;
}

/* header */
#headwrap {
	width: 100%;
	height: 100px;
	background: #577d06;
}

header {
	width: 75%;
	color: #fff;
	margin: 0 auto;
	font-family: josefinSansLight;
}

	header a {
		margin: 10px 0 0 0;
		font-size: 4em;
		text-decoration: none;
		color: #fff;
		float: left;
	}
	
	header a:hover {
		color: #BAE03B;
	}
	
	header nav {
		margin: 22px 100px 0 0;
		float: right;
	}
	
	header nav a {
		font-size: 2.5em;
	}

/* content */


main {
	width: 60%;
	margin: 0 auto;
}

.about {
	position: absolute;
	display: none;
	width: 600px;
	background: #fff;
	padding: 50px 100px 50px 100px;
	font-size: 1.3em;
	color: #000;
}

#picker-wrapper::-moz-selection, #picker-wrapper::selection, #slider-wrapper::-moz-selection, #slider-wrapper::selection {
	background: rgba(0, 0, 0, 0); color: #fff; text-shadow: none;
}

#picker-wrapper {
	margin: 1em 0.5em;
	width: 20em;
	height: 20em;
	display: inline-block;
	position: relative;
}

#picker {
	width: 100%;
	height: 100%;
	cursor: crosshair;
}

#slider-wrapper {
	margin: 1em 0.5em;
	width: 4em;
	height: 20em;
	display: inline-block;
	position: relative;
}

#slider {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#picker-indicator {
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.8em;
    position: absolute;
    border: 2px solid white;
}

#slider-indicator {
	margin: -5%;
    width: 110%;
    height: 1em;
    position: absolute;
    border-radius: 0.3em;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.5);
}

#color {
	margin: 1em 0.5em;
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 20em;
	width: 40em;
	padding: 2px 0 0 0;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6), 0px 0px 2px rgba(0, 0, 0, 0.9);
	color: #fff;
}

#color p {
	position: absolute;
	bottom: 0.2em;
	right: 0.4em;
	font-size: 3em;
	margin: 0;
}

.output {
	margin: 60px 0 0 30px;
	width: 257px;
	height: 257px;
	float: left;
	color: #fff;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	font-size: 2.5em;
	padding: 200px 0 0 20px;
}

#outputs {
	/* opacity: 0; */
}

.column {
	display: inline-block;
}

.color {
	width: 175px;
	height: 25px;
	margin: 5px 3px 5px 3px;
	padding: 2px 0 0 0;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6), 0px 0px 2px rgba(0, 0, 0, 0.9);
	transition: height 0.3s;
	-webkit-transition: height 0.3s;
}
	
	.color:hover {
		height: 125px;
		transition: height 0.3s;
		-webkit-transition: height 0.3s;
	}

	.color a{
		float: right;
		padding: 2px;
		color: #fff;
		text-decoration: none;
	}
	
	.color a:hover {
		color: rgba(255, 255, 255, 0.8);
	}

/* footer */
footer {
	width: 75%;
	margin: 0 auto;
}